.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name SEO
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            = icon('fas', 'cog')
  .groups
    = link_to "#" do
      .group
        %p.group__group-name sample1
        %p.group__latest-message Good bye World!
    = link_to "#" do
      .group
        %p.group__group-name sample2
        %p.group__latest-message Good bye World!
    = link_to "#" do
      .group
        %p.group__group-name sample3
        %p.group__latest-message Good bye World!
    = link_to "#" do
      .group
        %p.group__group-name sample4
        %p.group__latest-message Good bye World!
    = link_to "#" do
      .group
        %p.group__group-name sample5
        %p.group__latest-message Good bye World!
    = link_to "#" do
      .group
        %p.group__group-name sample6
        %p.group__latest-message Good bye World!
    = link_to "#" do
      .group
        %p.group__group-name sample7
        %p.group__latest-message Good bye World!
    = link_to "#" do
      .group
        %p.group__group-name sample8
        %p.group__latest-message Good bye World!
