.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        members
        - @group.users.each do |member|
          %li.main-header__left-box__member-list__member
            = member.name
    = link_to edit_group_path(@group.id) do
      .main-header__edit-btn Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
