.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        Group Name
      %ul.main-header__left-box__member-list
        members
        %li.main-header__left-box__member-list__member seo
        %li.main-header__left-box__member-list__member neko
    = link_to "#" do
      .main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker seo
        %p.message__upper-info__date 2019/11/27(Wed) 20:28:39
      %p.message__text Hello World!
    .message
      .message__upper-info
        %p.message__upper-info__talker neko
        %p.message__upper-info__date 2019/11/27(Wed) 20:39:12
      %p.message__text Good bye World
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
